*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        
    }
}

@media screen and (max-width: 480px) {
    
    .why-us{
        background-color: black;
    }
    
    .container {
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .lessons .col {
        width: 80%;
    }

    .steps .col {
        width: 80%;
    }

    .why-us .col-right {
        width: 80%;
    }

    .why-us .col-left {
        width: 80%;
    }

    p.text {
        margin-bottom: 2rem;
    }

    .col-left img{
        margin-bottom: 2rem;
    }

}